.dropdown-menu {
  background-color: #fff;
  width: 8.6em !important; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: relative;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 14.25em; /* 356px converted to em */
  top: -1.2em; /* 277px converted to em */
}

.dropdown-menu-up {
  top: -1.5em !important;
}

.dropdown-menu-selected-up {
  top: 1.5em !important;
}

.item:hover {
  background-color: #b5bdbd;
  border-radius: 0.0625em; /* 1px converted to em */
  cursor: pointer;
}

.item {
  padding: 0.4375em 0.75em; /* 7px 12px converted to em */
  height: 100%;
  vertical-align: top;
  list-style-type: none;
}

.text {
  border: 1px solid transparent;
  letter-spacing: .01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 5px 10px 5px 10px;
}

.dropdown-menu-selected {
  background-color: #fff;
  min-width: 8.4875em; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 17.1em; /* 356px converted to em */
  top: 1.7em; /* 277px converted to em */
  overflow-y: hidden;

  .dropdown-menu {
    visibility: hidden;
  }
}
