nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em; /* 64px / 16px */
  border-bottom: 0.0625em solid #dadce0; /* 1px / 16px */
  padding: 0.5em; /* 8px / 16px */
  margin: 0.625em 0.625em; /* 10px / 16px */
  color: #5f6368;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.75em; /* 0.78px / 16px */
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em; /* 5px / 16px */
  white-space: nowrap;
  border-radius: 0.3125em; /* 5px / 16px */
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.right {
  position: relative;
  left: 50%;
}

.material-icons-outlined {
  padding: 0.5em; /* 10px / 16px */
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.375em; /* 1.2px / 16px */
}

.search-area {
  background: #f1f3f4;
  width: 43.25em; /* 692px / 16px */
  height: 3em; /* 48px / 16px */
  border-radius: 0.5em; /* 8px / 16px */
  display: flex;
  align-items: center;
}

.search-area input {
  border: none;
  background: #f1f3f4;
  height: 100%;
  width: 95%;
  font-size: 1rem;
  margin-left: 0.625em; /* 10px / 16px */
}

input:focus {
  outline: none;
}

.search-area span {
  margin-left: 0.625em; /* 10px / 16px */
}

.settings-area {
  display: flex;
}

.profile-actions-area {
  display: flex;
}
