nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em; /* 64px / 16px */
  border-bottom: 0.0625em solid #dadce0;
  padding: 0.5em;
  margin: -0.15em 0.625em;
  color: #5f6368;
  width: 100%;

}

.search-icon :hover {
  background-color: #e3e3e3;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
  cursor: pointer;

}
.tooltip:hover {
  background-color: #e3e3e3;
  color: black;
  border-radius: 50%;
  cursor: pointer;

}
.cancel-box{
  min-width: 2.5em;
  min-height: 1.7em;
  margin: 6px;
  display: flex;
  justify-content: center;

}
.cancel{

  border-radius: 50%;
  width: 2em;
  height: 2em;

}
.search-box {
  display: flex;
  align-items: center;
  min-width: 50em;
  background-color:#f1f3f4 ;
  min-height: 3.15em;
  margin-right: -6em;
  border-radius: 9px;
  background-clip: padding-box;
  border: solid transparent;
  direction: ltr;
  font-family: "Roboto",arial,sans-serif;
  font-size: 15px;
  white-space: nowrap;
  -webkit-user-select: none;
  height: 48px;
  border-width: 0 0 0 4px;
  position: relative;
  right: 10%;

}
.search-icon{

  margin-left: 0.4em;
}
.search-input{

  background: transparent;
  border: none;
  font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  height: 46px;
  outline: none;
  padding-right: 16px;
  width: 100%;
  box-sizing: border-box;
}
.search-box:focus-within {
  background-color: white;
  box-shadow: 0 0 0 0 rgba(60, 64, 67, 0.3), 0.01em 0 0.01em 0.05em rgba(60, 64, 67, 0.15);
  border-radius: 9px;

}
.Keep {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -1.05em;
}

.archive {
  font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 3em;
  color: #3c4043;
  margin-left: -11em;
}

.archive:hover {
  cursor: context-menu;

}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.75em; /* 0.78px / 16px */
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em; /* 5px / 16px */
  white-space: nowrap;
  border-radius: 0.3125em; /* 5px / 16px */
  visibility: hidden;
  z-index: 1;

}


.tooltip:hover .tooltip-text {
  visibility: visible;
}

.right {
  position: relative;
  left: 50%;
}

.material-icons-outlined {
  padding: 0.5em;
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 1.375em; /* 1.2px / 16px */
}

.search-area {
  background: #f1f3f4;
  width: 43.25em; /* 692px / 16px */
  height: 3em; /* 48px / 16px */
  border-radius: 0.5em; /* 8px / 16px */
  display: flex;
  align-items: center;

}
.account{
  position: relative;
  right: 10%;
}
.search-area input {
  border: none;
  background: #f1f3f4;
  height: 100%;
  width: 95%;
  font-size: 1rem;
  margin-left: 0.625em; /* 10px / 16px */
  border-radius: 0.5em;
  padding: 0.5em; /* 8px / 16px */
}

.search-area input:focus{

 background-color: white;
  border: 1px solid #dadce0;
  border-left: none;

}
.settings-area{
  position: relative;
  right:-9%;
}
.tooltip search-icon:focus{
  background: white !important;
  font-size: x-large;
}
input:focus {
  outline: none;
}

.search-area span {
  margin-left: 0.625em; /* 10px / 16px */
}


.profile-actions-area,.settings-area {
  display: flex;
}
