<div *ngIf="(notes$ | async) as notes" class="notes grey-background">
  <div #notes *ngFor="let note of notes$ |async">

    <div (click)="selectNoteForEditing(note)"
         *ngIf="isCommonNote(note)"
         [ngClass]="{
       'empty-note': note.title == '' || note.content == '',
       'hide-note': selectedNote === note,
       'note-move': isArchiveNotePresent || isSearch
     }"
         class="note">
      <div>
        <span class="material-icons check-circle">check_circle</span>
        <ng-container *ngIf="note.title=='' && note.content==''">
          <div class="full-empty">Empty note</div>
        </ng-container>
        <ng-container>
          <ng-container *ngIf="isSearch">
            <div [style.display]="'block'" class="title">
              <span [innerHTML]="highlightSearchTerm(note.title, searchValue) | safeHtml"></span>
            </div>
            <div [ngClass]="{ 'note-text-up': note.title==''}" [style.display]="'block'" class="text">
              <div [innerHTML]="formattedContent(note.content)"></div>
            </div>
          </ng-container>
          <ng-container *ngIf="!isSearch">
            <div class="title">{{note.title }}</div>
            <div [innerHTML]="convertNewlinesToBreaks(note.content)"
                 [ngClass]="{ 'note-text-up': note.title==''}"
                 class="note-text"></div>
          </ng-container>
        </ng-container>

        <app-keep-store-labels [ModalOpen]="false" [note]="note"></app-keep-store-labels>
        <div class="icons-area" [ngClass]="{'not-hover':note.showDropdown || note.showLabelDropdown}">
          <app-keep-footer-note [calledFromNote]="true" [calledFromEditorNote]="false" [isArchiveNotePresent]="isArchiveNotePresent"
                                [note]="note" [searchLabelText]="searchLabelText"
                                [selectedNote]="selectedNote"></app-keep-footer-note>
        </div>
      </div>
    </div>

  </div>
</div>

