<div *ngIf="(notes$ | async) as notes" class="notes grey-background" #notes>
  <div *ngFor="let note of notes$ |async" [@noteEnterLeave]="note">

    <div class="note"
         *ngIf="(isSearch && note.noteExist && (isArchiveNotePresent ? note.isArchived : !note.isArchived) ) || (!isSearch && (isArchiveNotePresent ? note.isArchived : !note.isArchived))"
         [ngClass]="{ 'empty-note': note.title=='' || note.content==''}"
         [hidden]="note.isHidden"
         (click)="selectNoteForEditing(note)">
      <div>
        <span class="material-icons check-circle">check_circle</span>
        <ng-container *ngIf="note.title=='' && note.content==''">
          <div class="full-empty">Empty note</div>
        </ng-container>
        <ng-container>
          <ng-container *ngIf="isSearch">
            <div class="title" [style.display]="'block'">
              <span [innerHTML]="highlightSearchTerm(note.title, searchValue) | safeHtml"></span>
            </div>
            <div class="text" [style.display]="'block'" [ngClass]="{ 'note-text-up': note.title==''}">
              <div [innerHTML]="formattedContent(note.content)"></div>

            </div>
          </ng-container>
          <ng-container *ngIf="!isSearch">
            <div class="title">{{note.title }}</div>
            <div [ngClass]="{ 'note-text-up': note.title==''}" class="note-text"
                 [innerHTML]="convertNewlinesToBreaks(note.content)"></div>
          </ng-container>
        </ng-container>
        <div *ngIf="isLabelsExist(note)" class="note-labels">
          <div *ngFor="let label of note.labels.slice(0, 2)" (mouseenter)="onMouseEnter(label)"
               (mouseleave)="onMouseLeave(label)">
            <div class="note-label">
              <div>{{label.text}}</div>
              <div class="tooltip" *ngIf="label.showCrossIcon">
                <img class="small-icon small-cross-icon" src="assets/svg/small-cross.svg"
                     alt="cross" (click)="removeLabel(note,label,$event)">
                <span class="tooltip-text">Rename label</span>
              </div>
            </div>
          </div>

          <div *ngIf="note.labels.length > 2">
            <div class="note-label" *ngIf="note.labels.length === 3">{{note.labels[2].text}}</div>
            <div class="note-label-more" *ngIf="note.labels.length > 3">+{{note.labels.length - 2}}</div>
          </div>
        </div>

        <div class="icons">
          <div class="tooltip">
            <ng-container *ngIf="isArchiveNotePresent">
              <span class="material-icons-outlined hover small-icon icon" [ngClass]="{ 'icon-up': isLabelsExist(note)}"
                    (click)=UnArchiveNote(note.id)>unarchive</span>
              <span class="tooltip-text">Unarchive</span>
            </ng-container>
            <ng-container *ngIf="!isArchiveNotePresent">
              <span class="material-icons-outlined hover small-icon icon" [ngClass]="{ 'icon-up': isLabelsExist(note)}"
                    (click)="archiveNote(note.id)">archive</span>
              <span class="tooltip-text">Archive</span>
            </ng-container>
          </div>
          <div class="tooltip" (click)="handleMoreIconClick($event, note)">
            <span class="material-icons-outlined hover small-icon icon" [ngClass]="{ 'icon-up': isLabelsExist(note)}">more_vert</span>
            <span class="tooltip-text">More</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="note.showDropdown" class="dropdown-menu" [ngClass]="{ 'dropdown-menu-up': isLabelsExist(note)}">
      <ul>
        <li class="item"><a class="text" (click)="deleteNote($event,note.id)">Delete Note</a></li>
        <ng-container *ngIf="!hasLabels(note)">
          <li class="item"><a class="text" (click)="showLabelDropdown($event,note)">Add label</a></li>
        </ng-container>
        <ng-container *ngIf="hasLabels(note)">
          <li class="item"><a class="text" (click)="showLabelDropdown($event,note)">Change labels</a></li>
        </ng-container>
      </ul>
    </div>
    <app-keep-label-dropdown [note]="note" [searchLabelText]="searchLabelText" [labelDropdown]="note.showLabelDropdown"
                             [DialogBoxOpen]="false"></app-keep-label-dropdown>
  </div>
</div>




