
.item:hover {
  background-color: #b5bdbd;
  border-radius: 0.0625em; /* 1px converted to em */
  cursor: pointer;
}

.note-title, .note-text {
  border: none;
  font-size: 1rem; /* 16px */
  height: 100%;
  padding: 0.625em; /* 10px / 16px = 0.625em */
  margin-left: 0.1em; /* 10px / 16px = 0.625em */
  width: 100%;
  margin-right: 0.625em; /* 10px / 16px = 0.625em */
}

.note-text {
  padding-bottom: 0;
  margin-bottom: 1em;
}

.close-btn:hover {
  background: ghostwhite;
}

.small-icon {
  color: black;
  font-size: 1.1rem;
}

.material-icons-outlined {
  padding: 0.625em;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 115%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}


input:focus {
  outline: none;
}

.empty-note {
  min-height: 6.875em !important;

  .dropdown-menu, .label-Dropdown {
    left: 12.3em !important;
    top: 6em !important;
  }
}

.label-text {
  width: 3.5em;
  height: 1.0625em;
}

.dropdown-menu-up, .label-Dropdown-menu-up {
  top: -1.5em !important;
}

.add-label-area:hover {
  background-color: #f1f3f4;

}

.text {
  border: 1px solid transparent;
  letter-spacing: .01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 5px 10px 5px 10px;
}

.notes {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 17%; /* Add space at the start */
  margin-right: 15%; /* Add space at the end */
}

.note {
  background: white;
  min-width: 15em;
  margin: 0.625em;
  margin-top: 1.2em !important;
  min-height: 8.125em;
  border: 0.0625em solid #e0e1e0;
  border-radius: 0.5em;
  position: relative;
  transition: transform 0.3s ease-in-out;

}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.note.ng-deleted {
  animation: slideLeft 0.3s ease-in-out, fadeOut 0.3s ease-in-out;
}

.note-text-up {
  position: relative;
  top: -0.8em;
  right: 0.05em;
}

.note .text, .title {
  width: 100%;
  margin: 0.625em 1.125em 0.5em 0.7em; /* 10px 18px 18px 15px converted to em */
}

.note .note-footer {
  display: flex;
  margin-top: 0.9375em; /* 15px converted to em */
  padding: 0;
  justify-content: center;
}

.note-footer .material-icons-outlined {
  color: #5f6368;
}

.note .check-circle {
  position: absolute;
  left: -0.625em;
  top: -0.6em;
}

.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em; /* 3px / 16px = 0.1875em */
  padding: 0.3125em 0.6875em; /* 5px / 16px = 0.3125em, 11px / 16px = 0.6875em */
  cursor: pointer;
  font-size: 1rem; /* 16px */
}

.full-empty {
  color: #5f6368;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
  padding: 1.875em 0.9375em 0 0.9375em;

}

.icons-container {
  position: relative;
  display: flex;
  align-items: start;
}

.icons {
  display: flex;
  color: #202124;
  flex-flow: row nowrap;
  justify-content: flex-end;
  position: relative;
  height: 2.1875em; /* 35px converted to em */
  margin: 0.5em -0.125em; /* 2px converted to em */
  width: 100%;
}

.note:hover {
  border: 0.0625em solid #dadce0; /* 1px converted to em */
  box-shadow: #abb7b9 0 0.0625em 0.125em 0; /* 1px 2px converted to em */
}

.note:hover .icons {
  visibility: visible;
}

.note:hover .check-circle {
  visibility: visible;
}

.note .icons, .note .check-circle {
  visibility: hidden;
}

.label-text {

  height: 2.25em;
  width: inherit;
  cursor: default;
  font-size: 0.875em;
  padding: 0 0.75em;
  margin: 3.5px;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}


.tooltip:hover .tooltip-text {
  visibility: visible;
}

.dropdown-menu {
  background-color: #fff;
  width: 8.6em !important; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: relative;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 14.25em; /* 356px converted to em */
  top: -1.2em; /* 277px converted to em */
}

.dropdown-menu-selected {
  background-color: #fff;
  min-width: 8.4875em; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 16.1em; /* 356px converted to em */
  top: 2.25em; /* 277px converted to em */
}

.item {
  padding: 0.4375em 0.75em; /* 7px 12px converted to em */
  height: 100%;
  vertical-align: top;
  list-style-type: none;
}

.icon {
  width: 2.125em; /* 34px converted to em */
  height: 2.125em; /* 34px converted to em */
  display: inline-block;
  margin: 0.65em -0.1em; /* 8px converted to em */
}

.icon-up {
  margin: 0.5em -0.1em !important;

}
