.modal {
  min-width: 18.75em !important;
  min-height: 6.25em !important;
  overflow: hidden !important;
}

.tick-icon {

  position: relative;
  right: -73%;
}

.tick-icon-label {
  position: relative;
  right: -50%;
}

.edit-icon {
  margin-right: -20%;
}

.search-input, .label-input {
  border: none !important;
  margin-bottom: 0;
  margin-right: 1em;
  font-size: 0.85em;
  font-weight: 500;
  width: 11.75em;
  height: 1.625em;
}

.label {
  max-height: 2.8125em !important;
}

.label-area {
  position: relative !important;
  right: -4%;
}

.search-input:focus, .label-input:focus {
  outline: none !important;
  border: none;
  border-bottom: 1px solid #dadce0 !important;
}

.modal-footer {

  width: 18.75em;
  height: 4.4375em;
  border-top: 0.1px solid #dadce0;
  position: relative;
  top: -3% !important;
  margin: 0;
  overflow: hidden !important;
}

.input-area, .label-area {

  width: 16.875em;
  height: 2.8125em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-area {
  position: relative;
  right: -5%;

}

.labels {

  position: relative;
  top: -5%;
  padding: 0.625em;
  margin-top: -1.5em;
}

.label-icon,
{

  position: relative !important;
  right: 22%;
}

.edit-icon {

  position: relative !important;
  right: -156%;
}

.input-area {
  margin-bottom: 1.125em;

}

.text {
  color: #202124;
  display: inline-block !important;
  letter-spacing: .00625em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  position: relative;
  padding: 0 1em;
  text-overflow: ellipsis;
  width: 16.875em !important;
  height: 1.5625em !important;
  margin-top: 0.75em;
}

.close {
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
  position: relative;
  border: none;
  width: 5.375em;
  height: 2.25em;
  top: 1.25em;
  right: -1.81em;
  background-color: transparent;
  margin: 0 0 0 13em;
}

.close:hover {
  background-color: #e4e6ee;
}

.material-icons-outlined {
  padding: 0.625em;
}

.break-line {
  border-bottom: 0.01px solid #dadce0;
  width: 100%;
  position: relative;
  top: 1.5em;
}

.icons {
  cursor: pointer;
  width: 1.625em !important;
  height: 1.625em !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 1.125em;

}

.small-icon {
  color: black;
  font-size: 0.9rem;
}


.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
  overflow: auto;
  width: auto;
}

.tooltip-text-tick {
  position: absolute;
  left: -103% !important;
  top: 115%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
  overflow: visible;

}

.tooltip-text-tick-label {
  position: absolute;
  left: -225% !important;
  top: 96%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
  overflow: visible;

}

.delete-icon {
  position: relative;
  right: 22%;
}

.tooltip-text-edit {
  position: absolute;
  left: -133% !important;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
  overflow: visible;

}

.tooltip:hover .tooltip-text {
  visibility: visible;

}

.tooltip:hover .tooltip-text-tick {
  visibility: visible;

}

.tooltip:hover .tooltip-text-edit {
  visibility: visible;

}

.tooltip:hover .tooltip-text-tick-label {
  visibility: visible;

}

.material-icons-outlined {
  padding: 1.9em; // circle area
}

.icon {
  width: 1.25em;
  height: 1.25em;

}
