<div class="modal">
  <span class="text">Edit labels </span>
  <div class="input-area">
    <div class="icons">
      <div class="tooltip">
        <ng-container *ngIf="showPlusIcon"><img class="plus-icon hover small-icon icon" src="assets/svg/plus.svg"
                                                alt="Plus Button"
                                                (click)="showIcons()">
          <span class="tooltip-text">Create label</span></ng-container>
      </div>
      <div class="tooltip">
        <ng-container *ngIf="showCrossIcon"><img class="cross-icon hover small-icon icon" src="assets/svg/x-btn.svg"
                                                 alt="Cross Button" (click)="PlusIcon()">
          <span class="tooltip-text">Cancel</span>
        </ng-container>
      </div>
    </div>
    <input #labelInput class="search-input" type="text" name="label" [(ngModel)]="label" placeholder="Create new label"
           (click)="showIcons()" [attr.autofocus]="shouldAutofocus">

    <div class="tooltip icons">
      <ng-container *ngIf="showTickIcon"><img class="tick-icon hover small-icon icon" src="assets/svg/check3.svg"
                                              alt="Tick Button" (click)="saveLabel()">
        <span class="tooltip-text-tick">Create Label</span>
      </ng-container>
    </div>
  </div>
  <div *ngIf="hasLabel()" class="labels">
    <div *ngFor="let label of labelList" class="label">
      <div class="label-area" (mouseenter)="onMouseEnter(label)"
           (mouseleave)="onMouseLeave(label)">
        <div class="icons">
          <div class="tooltip">
            <ng-container
              *ngIf="label.showLabelIcon">
              <img
                class="label-icon hover small-icon icon"
                src="assets/svg/label-filled.svg"
                alt="Label Button"/>
            </ng-container>
          </div>

          <div class="tooltip">
            <ng-container *ngIf="label.showDeleteIcon">
              <img
                class="delete-icon hover small-icon icon"
                src="assets/svg/delete.svg"
                alt="Delete Button" (click)="deleteLabel(label)"
              />
              <span class="tooltip-text">Delete label</span>
            </ng-container>
          </div>

        </div>
        <input #labelData class="label-input" type="text" name="label" placeholder="Enter label name"
               [(ngModel)]="label.text" (click)="tickIcon(label)">

        <div class="tooltip icons">
          <ng-container *ngIf="label.showEditIcon"><img class="edit-icon hover small-icon icon"
                                                        src="assets/svg/pen1.svg"
                                                        alt="Edit Button" (click)="showTickButton(label,labelData)">
            <span class="tooltip-text-edit">Rename Label</span>
          </ng-container>
        </div>
        <div class="tooltip icons">
          <ng-container *ngIf="label.showTickIcon"><img class="tick-icon-label hover small-icon icon"
                                                        src="assets/svg/check3.svg" alt="Tick Button"
                                                        (click)="updateLabel(label)">
            <span class="tooltip-text-tick-label">Rename Label</span>

          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" name="button" class="close" (click)="closeModal()">Done</button>
</div>

