.empty-note {
  min-height: 6.5em !important;
  .dropdown-menu{
    top: 6.1em !important;
  }/* 104px converted to em */
}

.notes {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 19.125em; /* 18px converted to em */
  margin-top: 2.72em; /* 3.5px converted to em */

}

.note {
  background: white;
  min-width: 15em; /* 240px converted to em */
  margin-left: 1.25em; /* 18px converted to em */

  min-height: 8.125em; /* 130px converted to em */
  border: 0.0625em solid #e0e1e0; /* 1px converted to 0.0625em */
  border-radius: 0.5em; /* 8px converted to 0.5em */
  position: relative;
}

.note .icons,
.note .check-circle {
  visibility: hidden;
}

.note .title {
  width: 100%;
  margin: 0.9375em 1em 1em 0.9375em; /* 15px converted to 0.9375em */
}

.note .text {
  width: 100%;
  margin: 0.625em 1em 1em 0.9375em; /* 10px converted to 0.625em */
}

.note .note-footer {
  display: flex;
  margin-top: 0.9375em; /* 15px converted to 0.9375em */
  padding: 0;
  justify-content: center;
}

.note-footer .material-icons-outlined {
  color: #5f6368;
}

.note .check-circle {
  position: absolute;
  left: -0.625em; /* -10px converted to -0.625em */
  top: -0.0375em; /* -0.6em converted to -0.0375em */
}

.message {

  color: #5f6368;
  cursor: default;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.43rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-content: center;
  margin-top: 20vh;
  position: relative;
  right: -6.9%;
}

.icons-container {
  position: relative;
  display: flex;
  align-items: start;
}

.icons {
  display: flex;
  color: #202124;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;

  height: 2.1875em; /* 35px converted to 2.1875em */
  margin: 0 -0.125em; /* -2px converted to -0.125em */
  width: 100%;
}

.note:hover {
  border: 0.0625em solid #dadce0; /* 1px converted to 0.0625em */
  box-shadow: #abb7b9 0 0.0625em 0.125em 0; /* Converted box-shadow values */
  .icons {
    visibility: visible;
  }

  .check-circle {
    visibility: visible;
  }
}
.title{
  width: 100%;
  outline: none;
  border: none;
  letter-spacing: .00625em;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-top: 12px;
}
.text{
  border: 1px solid transparent;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 5px 10px 5px 10px;
}
.note-text {
    width: 100%;
    border: none;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    outline: none;
    resize: none;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: left; /* Add this line to align text to the left */
     margin: 0.625em 1.125em 0 0.9375em;
}

textarea{

  outline: none;
  resize: none;
  overflow-y: hidden; scrollbar-width: none; -ms-overflow-style: none;
}

.small-icon {
  color: black;
  font-size: 1.1em; /* 1.1rem converted to 1.1em */
}

.material-icons-outlined {
  padding: 0.625em; /* 10px converted to 0.625em */
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.75em; /* 7.8px converted to 0.4875em */
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em; /* 5px converted to 0.3125em */
  white-space: nowrap;
  border-radius: 0.3125em; /* 5px converted to 0.3125em */
  visibility: hidden;
  z-index: 5004;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
.dropdown-menu-selected{
  background-color: #fff;
  min-width: 8.4875em; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 16.1em; /* 356px converted to em */
  top: 2.25em; /* 277px converted to em */

}
.dropdown-menu {
  background-color: #fff;
  position: absolute;
  min-width: 9.8em; /* 7.8vw converted to em */
  min-height: 2.5em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149); /* Converted box-shadow values */
  -webkit-border-radius: 0.25em; /* 4px converted to 0.25em */
  border-radius: 0.25em; /* 4px converted to 0.25em */
  z-index: 5003;
  padding: -0.7em 0; /* 6px converted to 0.375em */
  opacity: 1;
  left: 7.95em; /* 356px converted to em */
  top: 7.6em; /* 277px converted to em */
}

.item {
  padding: 0.4375em 0.75em; /* 7px 12px converted to em */
  height: 100%;
  vertical-align: top;
  list-style-type: none;
}


.icon {
  width: 2.125em; /* 34px converted to em */
  height: 2.125em; /* 34px converted to em */
  display: inline-block;
  margin: 0 0.5em; /* 8px converted to 0.5em */
}

.bulb {
  -webkit-background-size: 7.5em 7.5em; /* 120px 120px converted to em */
  background-size: 7.5em 7.5em; /* 120px 120px converted to em */
  height: 7.5em; /* 120px converted to em */
  margin: 1.25em; /* 20px converted to 1.25em */
  opacity: 0.1;
  width: 7.5em; /* 120px converted to em */
}

.item:hover {
  background-color: #b5bdbd;
  border-radius: 0.0625em; /* 1px converted to 0.0625em */
  cursor: pointer;
}

.archive-icon {
  -webkit-background-size: 7.5em 7.5em; /* 120px 120px converted to em */
  background-size: 7.5em 7.5em; /* 120px 120px converted to em */
  height: 7.5em; /* 120px converted to em */
  margin: 1.25em; /* 20px converted to 1.25em */
  opacity: 0.1;
  width: 7.5em; /* 120px converted to em */

}
.second-form {
  background: #fff;
  max-width: 37.375em; /* 598px / 16px = 37.375em */
  margin: 2em auto; /* 32px / 16px = 2em */
  box-shadow: 0 0.125em 0.25em 0 rgba(60, 64, 67, 0.3), 0 0.25em 0.75em 0 rgba(60, 64, 67, 0.15); /* 1px = 0.0625em */
  border: 0.0625em solid #e0e1e0; /* 1px = 0.0625em */
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
}
.form-container .active-form{

  min-width: 632px;
  min-height: 212px;
}
.form-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #5f6368;
  left: 324px;
  top: 120.725px;

}
.form-actions {
  display: flex;
}


.active-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.625em;
}

.active-form form .form-actions .icons {
  display: flex;
}

.active-form form .form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.3125em; /* 5px / 16px = 0.3125em */
}
.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em; /* 3px / 16px = 0.1875em */
  padding: 0.3125em 0.6875em; /* 5px / 16px = 0.3125em, 11px / 16px = 0.6875em */
  cursor: pointer;
  font-size: 1rem; /* 16px */
}

.close-btn:hover {
  background: ghostwhite;
}

.material-icons-outlined {
  padding: 0.625em;
}


