.grey-background {
  background-color: rgba(0, 0, 0, 0.5); /* Grey background color with some transparency */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure it's above other elements */
}

