.empty-note {
  min-height: 6.5em !important;
  .dropdown-menu{
    left: 8em !important;
    top: 6.8em !important;
  }
}

//.title{
//  letter-spacing: .00625em;
//  font-family: "Google Sans",Roboto,Arial,sans-serif;
//  font-size: 1rem;
//  font-weight: 500;
//  line-height: 1.5rem;
//  padding-top: 12px;
//}
.note-text{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
}
.text{
  border: 1px solid transparent;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 5px 10px 5px 10px;
}
textarea{

  outline: none;
  resize: none;
   overflow-y: hidden; scrollbar-width: none; -ms-overflow-style: none;
}
.notes {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 17%; /* Add space at the start */
  margin-right: 17%; /* Add space at the end */
}

.note {
  background: white;
  min-width: 15em;
  margin: 0.625em;
  min-height: 8.125em;
  border: 0.0625em solid #e0e1e0;
  border-radius: 0.5em;
  position: relative;

}


.note .text, .title {
  width: 100%;
  margin: 0.625em 1.125em 1.125em 0.9375em; /* 10px 18px 18px 15px converted to em */
}

.note .note-footer {
  display: flex;
  margin-top: 0.9375em; /* 15px converted to em */
  padding: 0;
  justify-content: center;
}


.note-footer .material-icons-outlined {
  color: #5f6368;
}

.note .check-circle {
  position: absolute;
  left: -0.625em;
  top: -0.6em;
}
.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em; /* 3px / 16px = 0.1875em */
  padding: 0.3125em 0.6875em; /* 5px / 16px = 0.3125em, 11px / 16px = 0.6875em */
  cursor: pointer;
  font-size: 1rem; /* 16px */
}
.message {
  color: #5f6368;
  cursor: default;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;

}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-top: 20vh;
}


.icons-container {
  position: relative;
  display: flex;
  align-items: start;
}

.icons {
  display: flex;
  color: #202124;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
  height: 2.1875em; /* 35px converted to em */
  margin: 0 -0.125em; /* 2px converted to em */
  width: 100%;
}

.note:hover {
  border: 0.0625em solid #dadce0; /* 1px converted to em */
  box-shadow: #abb7b9 0 0.0625em 0.125em 0; /* 1px 2px converted to em */
}

.note:hover .icons {
  visibility: visible;
}

.note:hover .check-circle {
  visibility: visible;
}
.note .icons, .note .check-circle {
  visibility: hidden;
}

.note-title {
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 0.625em;
  margin-left: 0.625em;
  width: 100%;
  margin-right: 0.625em;

}

.note-text {
  border: none;
  font-size: 1rem;
  height: 100%;
  padding: 0.625em;
  margin-left: 0.625em;
  width: 100%;
  margin-right: 0.625em;

}


.small-icon {
  color: black;
  font-size: 1.1rem;
}


.material-icons-outlined {
  padding: 0.625em;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.dropdown-menu {
  background-color: #fff;
  min-width: 10.4875em; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 7.25em; /* 356px converted to em */
  top: 8.5em; /* 277px converted to em */
}
.dropdown-menu-selected{
  background-color: #fff;
  min-width: 8.4875em; /* 7.8vw converted to em */
  min-height: 2.16em; /* 13.5vh converted to em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px converted to em */
  border-radius: 0.25em; /* 4px converted to em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px converted to em */
  opacity: 1;
  left: 16.1em; /* 356px converted to em */
  top: 2.25em; /* 277px converted to em */

}

.item {
  padding: 0.4375em 0.75em; /* 7px 12px converted to em */
  height: 100%;
  vertical-align: top;
  list-style-type: none;
}


.icon {
  width: 2.125em; /* 34px converted to em */
  height: 2.125em; /* 34px converted to em */
  display: inline-block;
  margin: 0 0.5em; /* 8px converted to em */
}


.bulb {
  -webkit-background-size: 7.5em 7.5em; /* 120px converted to em */
  background-size: 7.5em 7.5em; /* 120px converted to em */
  height: 7.5em; /* 120px converted to em */
  margin: 1.25em; /* 20px converted to em */
  opacity: 0.1; /* 0.1px converted to em */
  width: 7.5em; /* 120px converted to em */
}

.item:hover {
  background-color: #b5bdbd;
  border-radius: 0.0625em; /* 1px converted to em */
  cursor: pointer;
}
.second-form {
  background: #fff;
  max-width: 37.375em; /* 598px / 16px = 37.375em */
  margin: 2em auto; /* 32px / 16px = 2em */
  box-shadow: 0 0.125em 0.25em 0 rgba(60, 64, 67, 0.3), 0 0.25em 0.75em 0 rgba(60, 64, 67, 0.15); /* 1px = 0.0625em */
  border: 0.0625em solid #e0e1e0; /* 1px = 0.0625em */
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
}
.form-container .active-form{

  min-width: 632px;
  min-height: 212px;
  background-color: #5f6368;
}
.form-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #5f6368;
  left: 324px;
  top: 120.725px;

}

.note-title {
  border: none;
  font-size: 1rem; /* 16px */
  height: 100%;
  padding: 0.625em; /* 10px / 16px = 0.625em */
  margin-left: 0.625em; /* 10px / 16px = 0.625em */
  width: 100%;
  margin-right: 0.625em; /* 10px / 16px = 0.625em */
}

.note-text {
  border: none;
  font-size: 1rem; /* 16px */
  height: 100%;
  padding: 0.625em; /* 10px / 16px = 0.625em */
  margin-left: 0.27em; /* 10px / 16px = 0.625em */
  width: 100%;
  margin-right: 0.625em; /* 10px / 16px = 0.625em */
}

.form-actions {
  display: flex;
}


.active-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.625em;
}

.active-form form .form-actions .icons {
  display: flex;
}

.active-form form .form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.3125em; /* 5px / 16px = 0.3125em */
}

.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em; /* 3px / 16px = 0.1875em */
  padding: 0.3125em 0.6875em; /* 5px / 16px = 0.3125em, 11px / 16px = 0.6875em */
  cursor: pointer;
  font-size: 1rem; /* 16px */
}

.close-btn:hover {
  background: ghostwhite;
}

.small-icon {
  color: black;
  font-size: 1.1rem;
}


.material-icons-outlined {
  padding: 0.625em;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}


input:focus {
  outline: none;
}


.settings-area {
  display: flex;
}

.profile-actions-area {
  display: flex;
}


