
.add-form {
  background: #fff;
  max-width: 37.375em; /* 598px / 16px = 37.375em */
  margin: 2em auto; /* 32px / 16px = 2em */
  box-shadow: 0 0.125em 0.25em 0 rgba(60, 64, 67, 0.3), 0 0.25em 0.75em 0 rgba(60, 64, 67, 0.15); /* 1px = 0.0625em */
  border: 0.0625em solid #e0e1e0; /* 1px = 0.0625em */
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  right: -6.6%;
  height: 100%;
  max-height: 31.25em;
}

.form-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #5f6368;
}

.add-content-container {
  width: 100%;
  max-height: 634px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar {
  overflow-y: auto;

}

.note-title {
  border: none;
  font-size: 1rem; /* 16px */
  height: 100%;
  padding: 0.625em; /* 10px / 16px = 0.625em */
  width: 100%;
  padding-bottom: 0.7em !important;
}

.note-text {
  border: none;
  font-size: 1rem; /* 16px */
  height: 100%;
  padding: 0.625em; /* 10px / 16px = 0.625em */
  overflow: hidden;
  width: 100%;
  resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: rgb(42, 36, 42);
  letter-spacing: .01428571em;
  font-family: Roboto, Arial, sans-serif;

}

.add-form .note-text {
  margin-bottom: -1.3em;
}

.note-text-first-form {
  position: relative;
  top: 2px;
}

.form .note-text::placeholder {
  color: rgba(0, 0, 0, 0.702);
}

.form-actions {
  display: flex;
}


.active-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.625em;
}


.active-form form .form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.3125em; /* 5px / 16px = 0.3125em */
}

.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em; /* 3px / 16px = 0.1875em */
  cursor: pointer;
  font-size: 1rem; /* 16px */
  width: 4em !important;
  padding-bottom: 0;

}

.close-btn:focus {
  background-color: #e0e2e5;
}

input:focus, textarea:focus {
  outline: none;
}

.dropdown-menu {
  background-color: #fff;
  width: 5.45625em; /* 7.3vw / 16px = 0.45625em */
  height: 2.1875em; /* 35px / 16px = 2.1875em */
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em; /* 4px / 16px = 0.25em */
  border-radius: 0.25em; /* 4px / 16px = 0.25em */
  z-index: 5003;
  padding: 0.375em 0; /* 6px / 16px = 0.375em */
  opacity: 1;
  left: 67.3em;
  top: 13.8em;
}

.dropdown-menu-bottom {
  top: 36.2em !important;
}

.item:hover {
  background-color: #b5bdbd;
  border-radius: 0.0625em; /* 1px / 16px = 0.0625em */
  cursor: pointer;
}

.item {
  padding: 0.4375em 0.75em; /* 7px / 16px = 0.4375em, 12px / 16px = 0.75em */
  height: 100%;
  vertical-align: top;
  list-style-type: none;
}

.text {

  text-decoration: none;
  color: #3c4043;
  font-size: 0.875em; /* 14px / 16px = 0.875em */
  font-family: Roboto, arial, sans-serif;
}

.icons-area {
  width: 19.8125em;
  height: 2.125em;
  position: relative;
  top: -0.5em;
  margin-right: 1em;
}


.add-content-container::-webkit-scrollbar {
  height: 1em;
  overflow: visible;
  width: 1em;
}

.add-content-container::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.add-content-container::-webkit-scrollbar-corner {
  background: transparent;
}

.add-content-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.add-content-container::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.add-content-container::-webkit-scrollbar-thumb:hover {
  background-color: #969595;
}

.icons {
  display: flex;
  color: #202124;
  flex-flow: row nowrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  right: -47%;
  top: -5%;


}

.icon:hover {
  opacity: 1;
}

.icon, .button-icon {
  width: 3em; /* 34px converted to em */
  height: 2.5em; /* 34px converted to em */
  display: inline-block;
  justify-content: flex-start;
  color: black;
  font-size: 1.1rem;
  align-items: center;
  position: relative;
  top: 0.4em;

}

.close-btn-area {
  position: relative;
  top: -0.85em;

}

.button-icon {

  position: relative;
  top: 1.4em;
  right: 1.5em;
  text-align: center;
}

.icon {
  opacity: 0.6;
  padding: 10px;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip-text {
  visibility: visible;

}

.material-icons-outlined {
  padding: 0.625em;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.form {
  background: #fff;
  width: 37.375em; /* 598px / 16px = 37.375em */
  margin: 2em auto; /* 32px / 16px = 2em */
  box-shadow: 0 0.125em 0.25em 0 rgba(60, 64, 67, 0.3), 0 0.25em 0.75em 0 rgba(60, 64, 67, 0.15); /* 1px = 0.0625em */
  border: 0.0625em solid #e0e1e0; /* 1px = 0.0625em */
  border-radius: 0.5em; /* 8px / 16px = 0.5em */
  position: relative;
  right: -7.1%;
  padding: 3px 0;
  height: 46px !important;

}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
}
