.empty-note {
  min-height: 6.5em !important;
}

.simple-notes {
  margin-top: 1em !important;
  position: relative;
  top: 3%;
}

.notes {
  display: flex;
  flex-direction: row;
  margin-left: 26.5%; /* Add space at the start */
  margin-right: 74%; /* Add space at the end */
  margin-top: 0.4%;
  justify-content: start;
}

.text-archive {
  display: block !important;
  flex-direction: column;
  color: #5f6368;
  letter-spacing: 0.07272727em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin-top: 4%;
  margin-left: 18%;
}

.note {
  background: white;
  min-width: 15em;
  margin: 0.625em;
  min-height: 8.125em;
  border: 0.0625em solid #e0e1e0;
  border-radius: 0.5em;
  position: relative;
}

.note .text,
.note .title {
  width: 100%;
  margin: 0.625em 1.125em 1.125em 0.9375em;
}

.note .note-footer {
  display: flex;
  margin-top: 0.9375em;
  padding: 0;
  justify-content: center;
}

.note-footer .material-icons-outlined {
  color: #5f6368;
}

.note .check-circle {
  position: absolute;
  left: -0.625em;
  top: -0.6em;
}

.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em;
  padding: 0.3125em 0.6875em;
  cursor: pointer;
  font-size: 1rem;
}

.message {
  color: #202124;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  width: 105%;
  margin-top: 3.2%;
}

.box {
  min-width: 0;
  width: 100%;
}

.icons-container {
  position: relative;
  display: flex;
  align-items: start;
}

.icons {
  display: flex;
  color: #202124;
  justify-content: flex-end;
  position: relative !important;
  height: 2.1875em;
  margin: 0 -0.125em;
  width: 100%;
  top: -20% !important;
}

.note:hover {
  border: 0.0625em solid #dadce0;
  box-shadow: #abb7b9 0 0.0625em 0.125em 0;
}

.note:hover .icons {
  visibility: visible;
}

.note:hover .check-circle {
  visibility: visible;
}

.note .icons,
.note .check-circle {
  visibility: hidden;
}

.title{
  letter-spacing: .00625em;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-top: 12px;
  border: none;
  outline: none;
  width:100%;
  margin-bottom:5px ;
}
.note-text {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  border: none;
  outline: none;
  width:100%;
  resize: none;
  overflow-y: hidden; scrollbar-width: none; -ms-overflow-style: none;
}

.small-icon {
  color: black;
  font-size: 1.1rem;
}

.material-icons-outlined {
  padding: 0.625em;
}

.hover:hover {
  background: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.dropdown-menu,
.dropdown-menu-selected {
  background-color: #fff;
  min-width: 8.4875em;
  min-height: 2.16em;
  border-width: 0;
  box-shadow: 0 0.0625em 0.125em 0 rgba(60, 64, 67, 0.302), 0 0.125em 0.375em 0.125em rgba(60, 64, 67, 0.149);
  position: absolute;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  z-index: 5003;
  padding: 0.375em 0;
  opacity: 1;
}

.dropdown-menu {
  left: 12.25em;
  top: 5.8em;
}

.dropdown-menu-selected {
  left: 30.1em;
  top: 2.25em;
}

.item {
  padding: 0.4375em 0.75em;
  height: 100%;
  vertical-align: top;
  list-style-type: none;
}

.text {
  text-decoration: none;
  color: #3c4043;
  font-size: 0.875em;
  font-family: Roboto, arial, sans-serif;
  margin-top: 3.125em;
}

.icon {
  width: 2.125em;
  height: 2.125em;
  margin: 0 0.2em;
}

.bulb {
  -webkit-background-size: 7.5em 7.5em;
  background-size: 7.5em 7.5em;
  height: 7.5em;
  margin: 1.25em;
  opacity: 0.1;
  width: 7.5em;
}

.item:hover {
  background-color: #b5bdbd;
  border-radius: 0.0625em;
  cursor: pointer;
}

.second-form {
  background: #fff;
  max-width: 37.375em;
  margin: 2em auto;
  box-shadow: 0 0.125em 0.25em 0 rgba(60, 64, 67, 0.3), 0 0.25em 0.75em 0 rgba(60, 64, 67, 0.15);
  border: 0.0625em solid #e0e1e0;
  border-radius: 0.5em;
}

.form-container .active-form {
  min-width: 632px;
  min-height: 212px;
  background-color: #5f6368;
}

.form-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #5f6368;
  left: 324px;
  top: 120.725px;
}

.active-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.625em;
}

.active-form form .form-actions .icons {
  display: flex;
}

.active-form form .form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.3125em;
}

.close-btn {
  background: none;
  border: none;
  border-radius: 0.1875em;
  padding: 0.3125em 0.6875em;
  cursor: pointer;
  font-size: 1rem;
}

.close-btn:hover {
  background: ghostwhite;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: white;
  opacity: 0.8;
  padding: 0.3125em;
  white-space: nowrap;
  border-radius: 0.3125em;
  visibility: hidden;
  z-index: 5004;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

input:focus {
  outline: none;
}

.settings-area,
.profile-actions-area {
  display: flex;
}
