<div *ngIf="hasNotes()" class="notes grey-background">
  <div class="simple-notes" *ngFor="let note of notes">

    <div class="note" *ngIf="note.noteExist && !note.isArchived"
         [ngClass]="{ 'empty-note': note.title=='' || note.content==''}"
         [hidden]="note.isHidden"
         (click)="selectNoteForEditing(note)">
      <div>

        <span class="material-icons check-circle">check_circle</span>
        <div class="title" [style.display]="'block'">
          <span [innerHTML]="highlightSearchTerm(note.title, searchValue) | safeHtml"></span>
        </div>
        <div class="text" [style.display]="'block'">
          <div  [innerHTML]="formattedContent(note.content)"></div>

        </div>
        <div class="icons">
          <div class="tooltip">
            <span class="material-icons-outlined hover small-icon icon" (click)="archiveNote(note.id)">archive</span>
            <span class="tooltip-text">Archive</span>
          </div>
          <div class="tooltip" (click)="handleMoreIconClick($event, note)">
            <span class="material-icons-outlined hover small-icon icon">more_vert</span>
            <span class="tooltip-text">More</span>
          </div>
        </div>
      </div>

      <div *ngIf="note.showDropdown" class="dropdown-menu">
        <ul>
          <li class="item"><a class="text" (click)="deleteNote($event,note.id)">Delete Note</a></li>
          <li class="item"><a class="text">Add label</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isNotesSimpleAndArchive() ">
  <div class="text-archive">Archive</div>
</div>

<div *ngIf="hasNotes()" class="notes grey-background">
  <div class="notes grey-background archive-notes" *ngFor="let note of notes">
    <div class="note" *ngIf="note.noteExist && note.isArchived"
         [ngClass]="{ 'empty-note': note.title=='' || note.content==''}"
         [hidden]="note.isHidden"
         (click)="selectArchiveNoteForEditing(note)">
      <div>
        <span class="material-icons check-circle">check_circle</span>
        <div class="title" [style.display]="'block'">
          <span [innerHTML]="highlightSearchTerm(note.title, searchValue) | safeHtml"></span>
        </div>
        <div class="text" [style.display]="'block'">
          <span [innerHTML]="highlightSearchTerm(note.content, searchValue) | safeHtml"></span>
        </div>
        <div class="icons">
          <div class="tooltip">
            <span class="material-icons-outlined hover small-icon icon"
                  (click)="unArchiveNote(note.id)">unarchive</span>
            <span class="tooltip-text">Unarchive</span>
          </div>
          <div class="tooltip" (click)="handleMoreIconClick($event, note)">
            <span class="material-icons-outlined hover small-icon icon">more_vert</span>
            <span class="tooltip-text">More</span>
          </div>
        </div>
      </div>

      <div *ngIf="note.showDropdown" class="dropdown-menu">
        <ul>
          <li class="item"><a class="text" (click)="deleteNote($event,note.id)">Delete Note</a></li>
          <li class="item"><a class="text">Add label</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedNote && !selectedNote.isArchived" class="form-container active-form ">
  <form class="second-form">
    <input name="title" type="text" [(ngModel)]="selectedNote.title" class="title"/>
    <textarea
      name="noteMessage"
      class="note-text"
      [(ngModel)]="selectedNote.content"
      (input)="adjustTextareaHeight($event)"
      placeholder="Take a note..."
    ></textarea>
    <div class="form-actions">
      <div class="icons">
        <div class="tooltip">
          <span class="material-icons-outlined hover small-icon " (click)="archiveNote(selectedNote.id)">archive</span>
          <span class="tooltip-text">Archive</span>
        </div>
        <div class="tooltip" (click)="handleMoreIconClick($event, selectedNote)">
          <span class="material-icons-outlined hover small-icon">more_vert</span>
          <span class="tooltip-text">More</span>
        </div>

        <div *ngIf="selectedNote.showDropdown" class="dropdown-menu-selected">
          <ul>
            <li class="item"><a class="text" (click)="deleteNote($event,selectedNote.id)">Delete Note</a></li>
            <li class="item"><a class="text">Add label</a></li>
          </ul>
        </div>
      </div>
      <button class="close-btn" (click)="closeEditor(selectedNote)">Close</button>
    </div>

  </form>
</div>


<div *ngIf="selectedArchiveNote && selectedArchiveNote.isArchived" class="form-container active-form ">
  <form class="second-form">
    <input name="title" type="text" [(ngModel)]="selectedArchiveNote.title" class="title"/>
    <textarea
      name="noteMessage"
      class="note-text"
      [(ngModel)]="selectedArchiveNote.content"
      (input)="adjustTextareaHeight($event)"
      placeholder="Take a note..."
    ></textarea>
    <div class="form-actions">
      <div class="icons">
        <div class="tooltip">
          <span class="material-icons-outlined hover small-icon " (click)="archiveNote(selectedArchiveNote.id)">archive</span>
          <span class="tooltip-text">Archive</span>
        </div>
        <div class="tooltip" (click)="handleMoreIconClick($event, selectedArchiveNote)">
          <span class="material-icons-outlined hover small-icon">more_vert</span>
          <span class="tooltip-text">More</span>
        </div>

        <div *ngIf="selectedArchiveNote.showDropdown" class="dropdown-menu-selected">
          <ul>
            <li class="item"><a class="text" (click)="deleteNote($event,selectedArchiveNote.id)">Delete Note</a></li>
            <li class="item"><a class="text">Add label</a></li>
          </ul>
        </div>
      </div>
      <button class="close-btn" (click)="closeArchiveEditor(selectedArchiveNote)">Close</button>
    </div>

  </form>
</div>

<div *ngIf=" (!(hasNotes()) ||isMatchedNotes()) && searchValue!='' " class="box">
  <div class="message">No matching results.</div>
</div>
