.sidebar {
  position: fixed;
  left: 0;
  top: 4em;
  display: flex;
  flex-direction: column;
  color: #5f6368;
  width: 5em;
  overflow-x: hidden;
  margin-top: 0.65em;
}

.tooltip-text{
  text-align: center;
  margin-left: 2em;
  font-size: medium;
}
.active {
  background-color: #fef0c3;
  border-radius: 50%;
  color: black;
}

.active:hover {
  background-color: #fef0c3;
}

.sidebar .sidebar-item {
  margin-left: 1.125em;
  padding: 0.1875em 0;
  display: flex;
  align-items: center;
}

.sidebar-item .sidebar-text {
  color: black;
  font-size: 0.9rem;
  margin-left: 1.25em;
  width: 15.625em;
}

.sidebar-item:nth-child(1) {
  margin-top: 0.3125em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 17.5em;
  transition: width 0.08s;

  @media (max-width: 37.4375em) {
    &:not(.close) {
      position: fixed;
      z-index: 100;
      box-shadow: 0 1em 0.625em 0 rgb(0 0 0 / 14%), 0 0.6875em 1.125em 0 rgb(0 0 0 / 12%), 0 0.8125em 0.3125em -0.0625em rgb(0 0 0 / 20%);
      height: 100vh;
      background-color: #202124;
    }
  }

  &.close {
    width: 5em;

    .item {
      &.active {
        width: 3em;
        padding-left: 0;
        margin-left: 0.75em;
        border-radius: 50%;

        img {
          opacity: 0.87;
        }
      }

      &:hover:not(.active) {
        width: 3em;
        height: 3em;
        padding-left: 0;
        margin-left: 0.75em;
        border-radius: 50%;
      }
    }
  }

  .item {
    box-sizing: border-box;
    border: 0.0625em solid transparent;
    border-radius: 0 1.5625em 1.5625em 0;
    color: black;
    display: flex;
    align-items: center;
    letter-spacing: 0.01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    width: 85%;
    height: 3em;
    overflow: hidden;
    cursor: pointer;
    padding-left: 0.75em;
    transition: all 0.08s;


    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 1.25em;
    }

    &.active {
      background-color: black;
    }

    &:hover:not(.active) {
      background-color: #FEEFC3
    }
  }
}


input:focus {
  border-bottom: 0.0625em solid #5f6368;
}

input::placeholder {
  color: #e8eaed;
  opacity: 0.5;
}


.footer {
  border-top: 1px solid #5f6368;
  padding: 0.9375em 0.625em;
  text-align: right;

  div {
    box-sizing: border-box;
    color: #dadce0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 2.25em;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    display: inline-block;
  }

  div:hover {
    background-color: rgba(154, 160, 166, 0.039);
    cursor: pointer;
  }

}

.picture{
  color: black;

    align-items: center;
}


