
<div class="sidebar">

    <div class="item" routerLink="/archive">
      <div class="tooltip" routerLink="/archive">
        <img class="picture" src="assets/svg/lamp.svg" alt="Notes Icon" width="24" height="24">
        <span class="tooltip-text">Notes</span>
      </div>

    </div>
    <div class="item" routerLink="/">
    <div class="tooltip" >
      <span class="material-icons-outlined small-icon picture">archive</span>
      <span class="tooltip-text">Archive</span>
    </div>

    </div>

</div>

